* {
  box-sizing: border-box;
}
.text {
  height: 14rem;
  margin-top: calc(50vh - 7rem);
}
h1 {
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
img {
  width: 10rem;
  margin-left: -5rem;
  position: absolute;
  left: 50%;
}
button {
  width: 4rem;
  margin-left: -2rem;
  position: absolute;
  top: calc(50vh + 8rem);
  left: 50%;
  display: none;
}
