/*==========CSS RESET==========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==========OTHER==========*/
  * {
    box-sizing: border-box;
  }
  body {
    font-family: 'Montserrat';
		color: rgb(20,20,20);
		position: relative;
  }
  .content {
    background-color: rgba(240,240,240,.5);
		padding-top: 86px;
  }
	.scrollbutton {
		width: 10vw;
		height: 10vw;
		border: 1px solid black;
		background-color: white;
		border-radius: 50%;
		position: fixed;
		right: 3rem;
		bottom: 3rem;
		cursor: pointer;
		display: none;
		font-size: 3rem;
		padding: calc(5vw - 3rem);
	}
	h2 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
		margin-top: 1rem;
  }
	.introduction::after, .photos::after, .videos::after {
    content: "";
    display: block;
    width: 20vw;
    height: 2px;
    background-color: rgb(10,10,10);
    position: absolute;
    left: 50%;
    margin-left: -10vw;
		margin-top: 2rem;
  }
	.photos, .video, .contact {
    position: relative;
    padding-top: 1rem;
		padding-bottom: 2rem;
  }
	#introduction, #photos, #videos, #contact {
		position: absolute;
		top: -83px;
	}
	p {
    text-align: center;
    line-height: 2rem;
		font-size: 1.5rem;
		margin-bottom: 2rem;
		padding: 0 5rem;
  }
	a {
		text-decoration: none;
	}
	.caution {
		width: 30rem;
		height: 39rem;
		position: fixed;
		top: calc(50% - 19.5rem);
		left: calc(50% - 15rem);
		display: none;
		border: 1px solid black;
	}
/*==========HEADER==========*/
  header {
    width: 100%;
    height: 30vh;
    display: table;
		background: url('../assets/bg.jpg') no-repeat center center;
		background-size: cover;
  }
  header h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    background-color: rgba(0,0,0,.5);
    padding: 2rem 0;
    letter-spacing: 0.2rem;
		line-height: 2.7rem;
		padding: 2rem 1rem;
  }
  .title {
    display: table-cell;
    vertical-align: middle;
  }
/*==========NAV==========*/
  nav {
    height: 86px;
		padding-left: 4vw;
		padding-right: 4vw;
		display: table;
		background-color: white;
		position: absolute;
		width: 100%;
  }
  nav a {
    text-decoration: none;
    width: 24vw;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,.0);
    padding: 2rem 0;
    display: table-cell;
    text-align: center;
		cursor: pointer;
  }
  button:focus {
    outline: none;
  }
	.current {
		border-bottom: 2px solid blue;
		transition: 0.3s ease-in-out;
	}
	.shrink {
		position: fixed;
    top: 0;
    transition: .8s all;
    opacity: .95;
		width: 100%;
	}
/*==========ABOUT ME==========*/
  .introduction {
    padding: 2rem 0;
    width: 100%;
    margin: auto;
    position: relative;
  }
  .introduction img {
    width: 12rem;
    border-radius: 50%;
    margin-left: calc(50% - 6rem);
  }
/*==========PHOTOS==========*/
	.pictures {
    width: calc(75vw + 7rem);
    margin: auto;
  }
  .photos img {
    width: 25vw;
    margin: 1rem;
  }
/*==========VIDEOS==========*/
	iframe {
		width: 70vw;
		height: 39.5vw;
		margin: 1rem 0;
		margin-left: 15vw;
	}
/*==========CONTACT ME==========*/
	.icons {
		width: 25rem;
		margin: auto;
	}
  .icons i {
		color: rgb(20,20,20);
		font-size: 4rem;
		margin: 0 2rem 1rem;
	}
/*==========FOOTER==========*/
	footer {
		background-color: rgb(20,20,20);
		height: 7rem;
		width: 100%;
		color: white;
		display: table;
	}
	footer p {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-size: 1.3rem;
	}
/*==========MEDIA QUERY==========*/
	@media screen and (min-width: 1000px) {
		header {
			height: 60vh;
			background-attachment: fixed;
		}
		header h1 {
			font-size: 2.3rem;
		}
		nav {
			padding-left: 10vw;
			padding-right: 10vw;
		}
		nav a {
			width: 20vw;
			font-size: 1.1rem;
		}
		.introduction h2, .photos h2 {
			font-size: 1.5rem;
		}
		p {
			font-size: 1rem;
			line-height: 1.5rem;
			padding: 0 15rem;
		}
		.introduction img {
			margin-left: calc(50% - 5rem);
			width: 10rem;
		}
		.pictures {
			width: 37rem;
		}
		.photos img {
			width: 10rem;
		}
		.scrollbutton {
			width: 5rem;
			height: 5rem;
			right: 1rem;
			bottom: 1rem;
			font-size: 2rem;
			padding: 0;
		}
		iframe {
			width: 50vw;
			height: 28vw;
			margin-left: 25vw;
		}
		footer p {
			font-size: 1rem;
		}
		nav a:hover {
	    background-color: rgb(240,240,240);
			transition: 0.2s ease-in-out;
	  }
	  nav a:not(:hover){
	    transition: 0.2s ease-in-out;
	  }
		.photos img:hover {
	    width: 11rem;
	    transition: 0.3s ease-in-out;
	    margin: 0.5rem;
	  }
	  .photos img:not(:hover){
	    transition: 0.3s ease-in-out;
	  }
		.icons i:hover {
			color: rgb(100,100,100);
			transition: 0.1s ease-in-out;
		}
		.icons i:not(:hover) {
			transition: 0.1s ease-in-out;
		}
	}
  @media screen and (min-width: 1350px) {
    header h1 {
      font-size: 3rem;
    }
    nav a {
      width: 15vw;
    }
    nav {
      padding-left: 20vw;
			padding-right: 20vw;
    }
    .introduction h2, .photos h2 {
      font-size: 1.7rem;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.7rem;
			padding: 0 35rem;
    }
    .pictures {
      width: 61rem;
    }
    .photos img {
      width: 13rem;
    }
    .photos img:hover {
      width: 14rem;
      transition: 0.3s ease-in-out;
      margin: 0.5rem;
    }
		.last {
			display: none;
		}
		iframe {
			width: 35vw;
			height: 19.7vw;
			margin-left: 32.5vw;
		}
  }
