/*==========MEDIA QUERY==========*/
	@media screen and (min-width: 600px) {
		header h1 {
			font-size: 2rem;
			line-height: 2.4rem;
			letter-spacing: 0.2rem;
			padding: 2rem 1rem;
		}
		#introduction, #photos, #videos, #contact {
			top: -83px;
		}
		.pictures {
			width: calc(75vw + 7rem);
		}
		.photos img {
			width: 25vw;
			margin: 1rem;
		}
		.focusedphoto {
			width: calc(76vw + 4rem) !important;
		}
		.focusedphoto:hover {
			margin: 1rem !important;
		}
		.mobilenav {
			height: 86px;
		}
		.mobilenav i {
			font-size: 50px;
			top: 18px;
			left: 18px;
		}
		.clock {
			font-size: 50px;
			top: 18px;
			right: 18px;
		}
		.normalnav {
			top: 86px;
		}
		body {
			padding-top: 86px;
		}
		#bg1, #bg2, #bg3, #bg3cpy {
			top: 86px;
		}
		footer {
			height: 8rem;
		}
		.scrollbuttonup {
			bottom: 10rem !important;
			transition: 0.2s ease-in-out;
		}
	}
	@media screen and (min-width: 800px) {
		p {
			padding: 0 5rem;
		}
		.icons {
			width: calc(5.5rem * 4 + 2rem * 9);
		}
		.scrollbutton {
			width: 10vw;
			height: 10vw;
		}
	}
	@media screen and (min-width: 1000px) {
		body {
			padding-top: 0;
		}
		.content {
			padding-top: 86px;
		}
		header {
			height: 60vh;
		}
		header h1 {
			font-size: 2.3rem;
		}
		.clock {
			color: rgba(20,20,20,.9);
			top: 1rem;
			left: 1rem;
			position: absolute;
			width: 0;
		}
		.clock:hover {
			font-size: 56px;
			top: 0.75rem;
			left: 0.75rem;
			transition: 0.1s ease-in-out;
		}
		.clock:not(:hover) {
			transition: 0.1s ease-in-out;
		}
		.introduction h2, .photos h2 {
			font-size: 1.5rem;
		}
		p {
			font-size: 1rem;
			line-height: 1.5rem;
			padding: 0 15rem;
		}
		.introduction img {
			margin-left: calc(50% - 5rem);
			width: 10rem;
		}
		.pictures {
			width: 37rem;
		}
		.photos img {
			width: 10rem;
			margin: 1rem;
		}
		.focusedphoto {
			width: 34.5rem !important;
		}
		.scrollbutton {
			width: 5rem;
			height: 5rem;
			right: 1rem;
			bottom: 1rem;
			font-size: 2rem;
			padding: 0;
		}
		iframe {
			width: 50vw;
			height: 28vw;
			margin-left: 25vw;
		}
		footer p {
			font-size: 1rem;
		}
		nav a:hover {
	    background-color: rgb(240,240,240);
			transition: 0.2s ease-in-out;
	  }
	  nav a:not(:hover){
	    transition: 0.2s ease-in-out;
	  }
		.photos img:hover {
	    width: 11rem;
	    transition: 0.3s ease-in-out;
	    margin: 0.5rem;
	  }
	  .photos img:not(:hover){
	    transition: 0.3s ease-in-out;
	  }
		footer {
			height: 7rem;
		}
		.instagram:hover, .youtube:hover, .facebook:hover, .github:hover {
			background-color: rgb(230,230,230);
			border-radius: 50%;
			transition: 0.2s ease-in-out;
		}
		.instagram:not(:hover), .youtube:not(:hover), .facebok:not(:hover), .github:not(:hover){
			transition: 0.2s ease-in-out;
		}
		h2::after {
			width: 5rem;
			margin-left: -2.5rem;
		}
    .current {
      border-bottom: 2px solid blue;
    }
		#bg1, #bg2, #bg3, #bg3cpy {
			top: 0
		}
		a:hover {
			color: rgb(100,100,100);
		}
		.clock:hover {
			color: rgb(20,20,20);
		}
		/*==========NAVBAR==========*/
			.mobilenav {
				display: none;
			}
			.normalnav, .fixednav {
				display: table;
				height: 86px;
				padding-left: 10vw;
				padding-right: 10vw;
				position: absolute;
				top: auto;
		  }
		  .normalnav a, .fixednav a {
		    text-decoration: none;
		    letter-spacing: 0.1rem;
		    border-bottom: 2px solid rgba(0,0,0,.0);
		    padding: 2rem 0;
		    display: table-cell;
		    text-align: center;
				cursor: pointer;
				color: rgb(20,20,20);
				width: 20vw;
				font-size: 1.1rem;
	      font-weight: 500;
		  }
		  button:focus {
		    outline: none;
		  }
			.current {
				transition: 0.3s ease-in-out;
				border-bottom: 2px solid blue !important;
			}
			.shrink {
				position: fixed;
		    top: 0;
		    transition: .8s all;
		    opacity: .95;
				width: 100%;
			}
			#introButton {
				border-top: none;
			}
	}
  @media screen and (min-width: 1350px) {
		header h1 {
      font-size: 3rem;
    }
    .normalnav a, .fixednav a {
      width: 15vw;
    }
    .normalnav, .fixednav {
      padding-left: 20vw;
			padding-right: 20vw;
    }
    .introduction h2, .photos h2 {
      font-size: 1.7rem;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.7rem;
			padding: 0 calc(50% - 25rem)
    }
    .pictures {
      width: 61rem;
    }
    .photos img {
      width: 13rem;
    }
		.focusedphoto {
			width: 58.7rem !important;
		}
    .photos img:hover {
      width: 14rem;
      transition: 0.3s ease-in-out;
      margin: 0.5rem;
    }
		.last {
			display: none;
		}
		iframe {
			width: 35vw;
			height: 19.7vw;
			margin-left: 32.5vw;
		}
  }
